Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/telescope_design' | relative_url }}">Horn Telescope Construction</a></li>
  <li><a href="{{ '/computer_setup' | relative_url }}">Computer Setup</a></li>
  <li><a href="{{ '/observing' | relative_url }}">Observing with your Horn</a></li>
<li><a href="{{ '/radio_astronomy' | relative_url }}">Radio Astronomy</a></li>
<li><a href="{{ '/about' | relative_url }}">About</a></li>
<li><a href="{{ '/memos' | relative_url }}">Memos</a></li>
<li><a href="{{ '/FAQ' | relative_url }}"></a>FAQ</li>


</ul>
